:root
{
    --main-color:#ea945a;
}
*
{
    margin:0;
    padding:0;
    width: 100%;
}
.navbar
{
    background-color: var(--main-color);
    padding: 15px;
    text-align: center;
}
.navbar h1
{
    color: white;
    font-weight: normal;
}
.navbar ul
{
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.navbar a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 15px;
}
/* shouldmove */
#map
{
    height: 600px;
    width: 100%;
    margin: 10px;
}